<ion-content></ion-content>
<ion-content class="main">
    <!-- Space Apps -->
    <ion-card>
        <ion-title>
            Pilot Light
        </ion-title>
        <ion-card-content>
            Predicting the hotspots of COVID-19 infection by analysing light emissions in population
            centres using night-time images<br><br>Night-time images provide valuable chances to analyse
            human mobility from on a large scale. In order to make better use of this data and technology, 
            we came up with Project Pilot Light. 

            Pilot Light is a website which examines the recent cases of COVID-19 with information of recent 
            Human activity (received from the NPP VIIRS DNB sensor ). This way we can predict the rise and 
            fall of COVID cases in that particular region. We can integrate real time data to make the website 
            up to date and include factors like CO emission, temperature and population density. There are infinite 
            number of possibilities to make this small website into a life saving equipment.  
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-button href="https://www.spaceappschallenge.org/">
        <ion-icon name="planet-outline"></ion-icon>
        Space Apps Website
        </ion-button>
    </ion-card>

    <ion-item></ion-item>
</ion-content>