<ion-content><ion-img src="./assets/pilot-light-banner.jpg"></ion-img></ion-content>
<ion-content class="main">
    <!-- Space Apps -->
    <ion-card class="description">
        <ion-title class="subtitle">
            Pilot Light
        </ion-title>
        <ion-card-content>
            Predicting the hotspots of COVID-19 infection by analysing light emissions in population
            centres using night-time images<br><br>Night-time images provide valuable chances to analyse
            human mobility from on a large scale. In order to make better use of this data and technology, 
            we came up with Project Pilot Light. 

            Pilot Light is a website which examines the recent cases of COVID-19 with information of recent 
            Human activity (received from the NPP VIIRS DNB sensor ). This way we can predict the rise and 
            fall of COVID cases in that particular region. We can integrate real time data to make the website 
            up to date and include factors like CO emission, temperature and population density. There are infinite 
            number of possibilities to make this small website into a life saving equipment.  
        </ion-card-content>
        <ion-title class="subtitle">
            Method
        </ion-title>
        <ion-card-content>
            To collect our data, we extracted images from the NASA satellite database and used the programs ENVI and FIJI
             in order to convert the data into a accessible format. We then took the night-time images and calculated their
              intensity. Significant changes in the intensity of light in the images indicate a change in human activity
               the levels of human activity in the area. Using this method, we can predict which areas are hotspots of
                infection and where we can expect new cases of COVID-19 to appear in the future.<br><br>

            In order to ensure that our images are not affected by clouds and other factors distorting the image,
             we also record the NO2 and CO emissions in the same regions, another method of recording human activity .
             
        </ion-card-content>

    </ion-card>
   


    <ion-card class="space-button">
        <ion-button color="dark" href="https://www.spaceappschallenge.org/">
        <ion-icon name="planet-outline"></ion-icon>
        Space Apps Website
        </ion-button>
    </ion-card>

    <ion-item></ion-item>
</ion-content>