.dash-component-1 {
    height: 200px;

}
.dash-component-2 {
    height: 200px;
    background-image: './assets/nt-intensity-2.PNG';
    background-size: cover;
    background-position: center center;
}
.dash-component-3 {
    height: 200px;
    background-image: './assets/co-total.PNG';
    background-size: cover;
    background-position: center center;
}
.dash-component-4 {
    height: 200px;
    background-image: './assets/co-total-2.PNG';
    background-size: cover;
    background-position: center center;
}
