.dash-component-1 {
    height: 50%;
    padding: 44px;
    display: block;
}
.dash-component-2 {
    height: 50%;
    background-image: './assets/nt-intensity-2.PNG';
    background-size: cover;
    background-position: center center;
}
.dash-component-3 {
    height: 50%;
    background-image: './assets/co-total.PNG';
    background-size: cover;
    background-position: center center;
}
.dash-component-4 {
    height: 50%;
    background-image: './assets/co-total-2.PNG';
    background-size: cover;
    background-position: center center;
}
