<head>
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.10.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.10.1/mapbox-gl.css' rel='stylesheet' />
</head>

<body><div id='map' style='width: 400px; height: 300px;'></div>
    <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoiZ3VpbGxhdW1lbGFuZHJ5IiwiYSI6ImNrOGpsaDQwbDBpNXAzZm12dWF5MTlpMzEifQ.8SaHyf8Dz2NG5G1czLGytA';
            var map = new mapboxgl.Map({
                container: 'map',
                style: 'mapbox://styles/mapbox/streets-v9'
            });
    </script>
</body>

