<ion-header>
    <ion-item>
      <ion-button routerLink="/mainpage" routerLinkActive="active" size="large" color="dark">Pilot Light</ion-button>
      <ion-button routerLink="/timelapse" routerLinkActive="active" size="large" color="dark">Night Sky Timelapse</ion-button>
      <ion-button routerLink="/dashboard" routerLinkActive="active" size="large" color="dark">Dashboard</ion-button>
    </ion-item>
    <ion-item class="card-container">
        <a class="circle-link" title="Our Twitter!" href="https://twitter.com/light_apps?s=20">
          <ion-icon name="logo-twitter"></ion-icon>
        </a>
        <a class="circle-link" title="Our GitHub!" href="https://github.com/iAniket23/Pilot-Light-NASAspaceApp2020">
          <ion-icon name="logo-github"></ion-icon>
        </a>
        <a> Join us and pilot the light! </a>
    </ion-item>
</ion-header>
<ion-content>
    <ion-card>
        <ion-title>
            Night sky Timelapse from VIIRS DNB sensor when Social Distancing measures began in 2020
        </ion-title>
    </ion-card>
</ion-content>
<ion-card>
    <ion-img src="./assets/nasa-worldview-n-a.gif"></ion-img>
</ion-card>
